
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản trị hệ thống</title>
    <link href="~/CSS/LibraryAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/CSS/Library/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/admin.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/introjs.min.css" rel="stylesheet" />
    <script src="~/CSS/LibraryAdmin/js/jquery-1.10.2.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/bootstrap.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/intro.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/admin.js"></script>
    <script src="~/Scripts/Common/Library/bootstrap.min.js"></script>





</head>
<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/AdminHome/Index"><i class="fa fa-cogs"></i> Quản trị hệ thống</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Session["ADMIN_SESSION"]<b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Chỉnh sửa tài khoản</a></li>
                        <li><a href="/NhanVien/DangXuat"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="clearfix">
        <div id="sidebar-bg"></div>
        <div id="sidebar" role="navigation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-th"></i><span> Danh mục quản lý</span>
                        <b class="fa fa-plus-sign visible-xs pull-right"></b>
                    </h3>
                </div>
                <ul id="menu" class="list-group">
                    <li class="list-group-item">
                        <a href="/AdminHome/SanPham">
                            <i class="fa fa-edit"></i> <span>Sản phẩm</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/AdminDonSanPham/Index">
                            <i class="fa fa-edit"></i> <span>Đơn Sản Phẩm</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/AdminHome/DichVu">
                            <i class="fa fa-fire"></i><span>Dịch Vụ</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/AdminDonDichVu/Index">
                            <i class="fa fa-fire"></i><span>Đon Dịch Vụ</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/AdminLichHen/Index">
                            <i class="fa fa-bars"></i> <span>Lịch Hẹn</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/AdminHome/Product">
                            <i class="fa fa-envelope-o"></i> <span>Đơn đặt</span></span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="slider.html">
                            <i class="fa fa-picture-o"></i> <span>Banner</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="slider.html">
                            <i class="fa fa-picture-o"></i> <span>Bài Viết</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="slider.html">
                            <i class="fa fa-picture-o"></i> <span>Danh mục</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="slider.html">
                            <i class="fa fa-picture-o"></i> <span>Thương Hiệu</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="user.html">
                            <i class="fa fa-user"></i> <span>Nhân Viên</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="setting.html">
                            <i class="fa fa-wrench"></i> <span>Cấu hình</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>


    <script src="~/CSS/Library/jquery-ui-1.12.1/jquery-ui.min.js"></script>
</body>
</html>
