@using HairSalonRoyalDoan.Models.Dictionary
@{
    Layout = null;
    NhanVienModel nhanVienModel = new NhanVienModel();
    string quyen = "";
    if (Session["ADMIN_SESSION"]!= null)
    {
        quyen = nhanVienModel.GetQuyen(Session["ADMIN_SESSION"].ToString());
    }
    else
    {
        quyen = "";
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản trị hệ thống</title>

    <link href="~/CSS/LibraryAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/CSS/Library/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/admin.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/introjs.min.css" rel="stylesheet" />
    <script src="~/CSS/LibraryAdmin/js/jquery-1.10.2.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/bootstrap.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/intro.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/admin.js"></script>
    <script src="~/Scripts/Common/Library/bootstrap.min.js"></script>
    <script src="~/Scripts/Common/Library/jquery-3.4.1.js"></script>
    <script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/plugins/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
    </script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/AdminHome/Index"><i class="fa fa-cogs"></i> Quản trị hệ thống</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Session["ADMIN_SESSION"]<b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Chỉnh sửa tài khoản</a></li>
                        <li><a href="/NhanVien/DangXuat"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="clearfix">
        <div id="sidebar-bg"></div>
        <div id="sidebar" role="navigation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-th"></i><span> Danh mục quản lý</span>
                        <b class="fa fa-plus-sign visible-xs pull-right"></b>
                    </h3>
                </div>
                @if (quyen == "1")
                {
                    <ul id="menu" class="list-group">
                        <li class="list-group-item">
                            <a href="/AdminDonSanPham/Index">
                                <i class="fa fa-edit"></i> <span>Đơn đặt hàng</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminLichHen/Index">
                                <i class="fa fa-fire"></i><span>Lịch hẹn</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminHome/SanPham">
                                <i class="fa fa-edit"></i> <span>Sản phẩm</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminHome/DichVu">
                                <i class="fa fa-bars"></i> <span>Dịch Vụ</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminHome/DanhMuc">
                                <i class="fa fa-bars"></i> <span>Danh Mục</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminHome/ThuongHieu">
                                <i class="fa fa-bars"></i>  <span>Thương Hiệu</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminBaiViet/Index">
                                <i class="fa fa-picture-o"></i> <span>Banner</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminBaiViet/Index">
                                <i class="fas fa-book-open"></i> <span>Bài Viết</span>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="/AdminNhanVien/Index">
                                <i class="fa fa-user"></i> <span>Nhân Viên</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/ThongKe/Index">

                                <i class="fas fa-chart-bar"></i> <span>Thống kê</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminList/Index">
                                <i class="fas fa-list"></i> <span>Tổng hợp</span>
                            </a>
                        </li>
                    </ul>
                }
                else if (quyen =="2")
                {

                    <ul id="menu" class="list-group">
                        <li class="list-group-item">
                            <a href="/AdminDonSanPham/Index">
                                <i class="fa fa-edit"></i> <span>Đơn đặt hàng</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/AdminLichHen/Index">
                                <i class="fa fa-fire"></i><span>Lịch hẹn</span>
                            </a>
                        </li>
                       
                       
                   
                    </ul>

                }





            </div>
        </div>
        @RenderBody()
    </div>
    <script type="text/javascript">
        var session = "@Session["ADMIN_SESSION"]";
        if (session == "") {
            window.location.href = "/NhanVien/DangNhap";
        }



    </script>

    <script src="~/CSS/Library/jquery-ui-1.12.1/jquery-ui.min.js"></script>
</body>
</html>
