
@{
    ViewBag.Title = "_UserHome";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Css/User/UserHome.css" rel="stylesheet" />
</head>
<body>
   
    <div class="header-main">
   
        <div class="config-header"> </div>

            <div class="logo-header">
                <img src="~/Content/Images/UserHomeImg/120088657_329116491512759_284388020705763635_n.jpg" />
            </div>
            <div class="text-header">VỀ ROYAL ĐOÀN</div>
            <div class="text-header">ROYAL ĐOÀN STORE</div>
            <div class="text-header">DỊCH VỤ</div>
            <div class="text-header">XEM LỊCH ĐẶT</div>
            <div class="text-header" id="login-header">ĐĂNG NHẬP</div>
       
    </div>
    @RenderBody()



    <div class="footer-main">



    </div>
</body>
</html>

