
@{
    ViewBag.Title = "_UserHome";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="~/Content/Css/User/Layouttemplate.css" rel="stylesheet" />
    <link href="~/Content/Library/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   
    <div class="header-main">
      
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-2 logo-header">

                    <img src="~/Content/Images/UserHomeImg/logo.jpg" />
                </div>
                <div class="col-md-10 row-near-logo">
                    <div class=" text-header"><a href="">VỀ ROYAL ĐOÀN </a></div>
                    <div class=" text-header">ROYAL ĐOÀN STORE</div>
                    <div class=" text-header">DỊCH VỤ</div>
                    <div class=" text-header" >ĐẶT LỊCH</div>
                    <div class=" text-header" id="login-header" >ĐĂNG NHẬP</div>

                </div>
              
                
            </div>
        </div>
    </div>
    @RenderBody()



    <div class="footer-main">



    </div>
</body>
</html>

