
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UserProduct</title>
    <script src="~/Scripts/Common/Library/jquery-3.4.1.min.js"></script>
    <link href="~/CSS/Common/Library.css" rel="stylesheet" />
    <link href="~/CSS/User/Product.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/UserProduct/Index">ROYAL ĐOÀN STORE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto" id="store-dn">
                    <li class="nav-item">
                        <a class="nav-link" href="/UserHome/Index">Trang chủ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/UserProduct/Index">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GioHang/Index">Giỏ hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/KhachHang/DangNhap" id="usdnstore">Đăng Nhập</a>
                    </li>
             
                   


                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <a class="btn btn-success btn-sm ml-3" href="/GioHang/Index">
                        <i class="fa fa-shopping-cart"></i> Giỏ hàng
                        <span class="badge badge-light" id="soluongspgh">@Session["SLSP_SESSION"]</span>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- Footer -->
    <footer class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>HairSalon Royal Đoàn</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Số 12, đường 183 Tiền Trung, Ái Quốc, TP Hải Dương
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>Giờ phục vụ</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a>Giờ phục vụ 7h-21h (kể cả thứ 7,CN)</a></li>
                       
                    </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h5>HOTLINE </h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">0902087097</a></li>
                    </ul>
                </div>

                <div class="col-12 copyright mt-3">
                  
                    <p class="text-right text-muted">Copyright © RoyalDoan</p>
                </div>
            </div>
        </div>
    </footer>


    <script>
        $(document).ready(function () {
            var session = "@Session["USER_SESSION"]";

                var usdn = $("#usdn").val();
                if (session !="") {
                    $("#usdnstore").remove();
                             $("#store-dn").append("<li class='nav - item'><a class='nav-link' href='/UserProduct/QuanLyDonHang'>Lịch sử mua<a/></li>")
                    $("#store-dn").append("<li class='nav - item'><a class='nav-link'>@Session["USER_SESSION"]<a/></li>")

                    $("#store-dn").append("<li class='nav - item'><a class='nav-link' href='/KhachHang/DangXuat'>Đăng xuất</a></li>")
                }

        });




    </script>
</body>
</html>
