.swiper-main {
    height: 450px;
}
.swiper-container {
    width: 100%;
    height:100%;
    padding:0px;
    margin:0px;
 
}
.swiper-main img{
    padding:0px;
    width:100%;
    height:100%;



}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.sub-content {
    width: 100%;
    height: 100%;
    background-color: #eee;
    margin-top: 8px;
}
.service-content{

   

}
.container-sub-content {
    background-color: white;
    height: 100%;
    overflow: hidden;
    padding: 8px;
    margin-top: 8px;
}



.service-content-text {
    width:100%;
    font-size:25px;
    color:black;
    height:45px;
    display:flex;
    justify-content:space-between;
    border-bottom:3px solid #eee;

}
.service-content-text-2 {
    margin-top:10px;
    width: 100%;
    font-size: 25px;
    color: black;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #eee;
}
/*Css cho banner dich vu*/
.banner-service-content img{
    width:100%;
 
}


