@model HairSalonRoyalDoan.Repository.NhanVien


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
    <link href="~/CSS/LibraryAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/font-awesome.min.css" rel="stylesheet" />


    <style>
        body {
            background: #34495e;
        }

        #loginForm {
            width: 300px;
            min-height: 200px;
            padding: 20px;
            margin: 120px auto 0;
            background: #fff;
            border-radius: 7px;
        }
    </style>
</head>
<body>
    <div id="loginForm">
        <form action="/NhanVien/DangNhap" class="form-signin" role="form" method="post">
            <div class="form-group" style="text-align: center"><h4>ĐĂNG NHẬP HỆ THỐNG</h4></div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" maxlength="100" required="">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input id="MatKhau" name="MatKhau" type="password"  class="form-control"  placeholder="Mật khẩu" required="">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i>Đăng nhập</button>
                <button class="btn btn-danger">Quên mật khẩu?</button>
            </div>
        </form>
    </div>




</body>
</html>
