@model List<HairSalonRoyalDoan.Repository.DonDatHang>
@{

    Layout = "~/Views/Shared/_UserProduct.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dat Hang Thanh Cong</title>
</head>
<body>
    <div style="min-height:650px; background-color:#f1f1f1">
        Đặt hàng thành công !

    </div>
</body>
</html>
