@model List<HairSalonRoyalDoan.Repository.DonDatHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dat Hang Thanh Cong</title>
</head>
<body>
    <div>
    dat hang thanh cong

    </div>
</body>
</html>
