
@{
    Layout = "~/Views/Shared/_AdminHome.cshtml";
      
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản trị hệ thống</title>
    <link href="~/CSS/LibraryAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/admin.css" rel="stylesheet" />
    <link href="~/CSS/LibraryAdmin/css/introjs.min.css" rel="stylesheet" />
    <script src="~/CSS/LibraryAdmin/js/jquery-1.10.2.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/bootstrap.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/intro.min.js"></script>
    <script src="~/CSS/LibraryAdmin/js/admin.js"></script>
</head>
<body>

    <div id="main">
        <!--Phần chứa nội dung chính-->
        <ol class="breadcrumb">
            <li><a href="/AdminHome/Index"><i class="fa fa-home"></i> Trang quản trị</a></li>
        </ol>
        <div class="col-xs-12">
            <div class="menu">
                <a href="/AdminHome/Index" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-home"></i><br> <span>Trang quản trị</span>
                </a>
                <a href="post.html" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-edit"></i><br> <span>Tin tức</span>
                </a>
                <a href="/AdminHome/SanPham" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-fire"></i><br> <span>Sản phẩm</span>
                </a>
                <a href="type_product.html" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-bars"></i><br> <span>Loại sản phẩm</span>
                </a>
                <a href="contact.html" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-envelope-o"></i><br> <span>Phản hồi</span>
                </a>
                <a href="slider.html" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-picture-o"></i><br> <span>Slider</span>
                </a>
                <a href="user.html" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-user"></i><br> <span>Tài khoản</span>
                </a>
                <a href="setting.html" class="col-md-2 col-sm-5 col-xs-5">
                    <i class="fa fa-wrench"></i><br> <span>Cấu hình</span>
                </a>
            </div>
        </div>
    </div>
    <!--END #main-->
    
</body>
</html>
