
@{
    ViewBag.Title = "BaiViet";
    Layout = "~/Views/Shared/_UserHome.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>@ViewBag.BaiViet.TenBaiViet</h3>
        </div>
    </div>
    <div class="container">

        @Html.Raw(ViewBag.BaiViet.NoiDung)
        @*<div class="row mt-4">
            <div class="col-md-12">
                
                <h4>
                    I.Giới thiệu
                </h4>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <img src="~/Content/Images/img/anhcuahang.jpg" alt="hinhanh" style="width:800px; height:auto">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-justify">
            <p>
                Cuộc sống của chúng ta đang ngày càng trở nên bận rộn hơn với biết bao lo toan, suy nghĩ. Đặc biệt là với nam giới, những người trụ cột trong gia đình, đôi khi họ còn không có thời gian nghĩ cho bản thân, không có thời gian đi mua quần áo, ăn diện, hay thậm chí là đi cắt tóc cho gọn gàng, bảnh bao hơn.
            </p>
            <p>
                Thấu hiểu được điều này, hệ thống tóc nam Royal Đoàn đã ra đời để đem đến cho cánh mày râu một cuộc sống tiện lợi hơn trong việc chăm sóc đầu tóc. Đến với hệ thống tóc nam BarBer Shop, bạn sẽ không phải lo lắng về vấn đề thời gian, chỉ cần 30 phút rảnh rỗi vào bất cứ thời gian nào, BarBer Shop sẽ mang đến cho bạn dịch vụ tận tâm, kỹ càng để bạn trở nên đẹp trai, sáng láng ngay lập tức.
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h4>
                II.Sứ mệnh
            </h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <img src="~/Content/Images/img/Sumenh.jpg" alt="hinhanh" style="width:800px; height:auto;">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-justify">
            <p>
                Hệ thống tóc nam Royal Đoàn cung cấp dịch vụ làm tóc chuyên nghiệp với giá thành cạnh tranh, tiết kiệm thời gian và làm hài lòng tất cả đối tượng khách hàng nam giới bằng dịch vụ tốt nhất, mang đến sự thư giãn khác biệt, nâng cao giá trị bản thân với vẻ ngoài trang nhã, tỏa sáng.
            </p>
            <p>
                Chúng tôi hạnh phúc khi được phục vụ và nhận được sự hài lòng của khách hàng.
            </p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <h4>
                III.Hệ thống cửa hàng chuyên nghiệp
            </h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-center">
            <img src="~/Content/Images/img/htchcn.png" alt="hinhanh" style="width:800px; height:auto;">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-justify">
            <p>
                Các cửa hàng của Royal Đoàn đều được đầu tư nghiêm túc, diện tích mặt bằng rộng rãi, thoáng mát trang thiết bị, nội thất đồng bộ, chuyên nghiệp, bắt mắt, đem đến trải nghiệm thoải mái nhất cho khách hàng.
            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                IV. ĐỘI NGŨ THỢ STYLIST TẠO MẪU ĐẲNG CẤP
            </h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <img src="~/Content/Images/img/ĐNSTL.png" alt="hinhanh" style="width:800px; height:auto;">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-justify">
            <p>
                Đội ngũ thợ tóc của Royal Đoàn được tuyển dụng gắt gao, yêu cầu cao về kinh nghiệm và tay nghề để đảm bảo đem đến kết quả hài lòng nhất cho khách hàng. Đội ngũ Royal Đoàn luôn tìm hiểu, học hỏi các xu hướng thời trang tóc trên thế giới để luôn cập nhật nhanh chóng những mẫu tóc Hot nhất.
            </p>
        </div>
    </div>
</div>*@
</div>
<div class="col-12">
    <h5>Các bài viết khác :</h5>
    <span>Công dụng dầu gội </span>,
    <span>Công dụng dầu gội </span>,
    <span>Công dụng dầu gội </span>
   

</div>