
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserHome.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="~/CSS/User/ContentHome.css" rel="stylesheet" />
    <link href="~/CSS/Common/Library.css" rel="stylesheet" />



</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="101001805127023">
    </div>

    <div class="main">
        <div class="content">
            <div class="swiper-main">
                <div class="swiper-container swp1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/hoinghetocvietnam.png" />
                        </div>
                    
                        <div class="swiper-slide"><img src="~/Content/Images/UserHomeImg/banner2.jpg" /></div>
                        <div class="swiper-slide"><img src="~/Content/Images/UserHomeImg/banner.jpg" /></div>
                      
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/banner3.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <div class="sub-content">
                <div class="container container-sub-content">
                    <div class="service-content">

                        <div class="service-content-text">

                            <div style="font-family:Verdana">DỊCH VỤ TẠI ROYAL ĐOÀN</div>
                            <div><a href="/UserHome/XemDichVu" style="font-family:Verdana">XEM CHI TIẾT</a> </div>
                        </div>
                        <div class="banner-service-content">
                            <img src="~/Content/Images/UserHomeImg/bannerdichvu.PNG" />
                        </div>
                    </div>
                    @*SanPham tai cua hang*@
                    <div class="service-content-text-2">
                        <div>SẢN PHẨM TẠI ROYAL ĐOÀN</div>
                        <div><a href="/UserProduct/Index"style="font-family:Verdana">XEM CHI TIẾT</a> </div>
                    </div>
                    <div class="product-content">
                        <!-- Swiper -->
                        <div class="swiper-container swiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="~/Content/Images/ImagesProduct/anhsanpham1.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" />
                                </div>
                                <div class="swiper-slide " style="cursor:pointer" onclick="XemSanPham()">
                                <img src="~/Content/Images/ImagesProduct/dau_goi_tang_phong_toc.jpg" /></div>
                                <div class="swiper-slide"><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></div>
                                <div class="swiper-slide"><a href=""><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></a></div>

                                <div class="swiper-slide"><a href=""><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></a></div>
                                <div class="swiper-slide"><a href=""></a></div>

                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swp2"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        function XemSanPham() {
            alert("oke");
        }




    </script>

    
</body>
</html>



