
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserHome.cshtml";
    <link href="~/Content/Css/User/ContentHome.css" rel="stylesheet" />
    
  
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Library/swiper-bundle.css" rel="stylesheet" />
    <script src="~/Scripts/Library/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Library/swiper-bundle.js"></script>
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="swiper-main">
                <div class="swiper-container swp1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/hoinghetocvietnam.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/banner4.png" />
                        </div>
                        <div class="swiper-slide"><img src="~/Content/Images/UserHomeImg/banner2.jpg" /></div>
                        <div class="swiper-slide"><img src="~/Content/Images/UserHomeImg/banner.jpg" /></div>
                        <div class="swiper-slide">
                            <img src="~/Content/Images/UserHomeImg/banner3.jpg" />
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>      
            </div>    

            <div class="container sub-content">
                <div class="container-sub-content">
                    <div class="service-content">

                        <div class="service-content-text">
                            <div>DỊCH VỤ TẠI ROYAL ĐOÀN</div>
                            <div><a href="">XEM CHI TIẾT</a> </div>
                        </div>


                        <div class="banner-service-content">
                            <img src="~/Content/Images/UserHomeImg/bannerdichvu.PNG" />
                        </div>
                    </div>
                    @*SanPham tai cua hang*@
                    <div class="service-content-text-2">
                        <div>SẢN PHẨM TẠI ROYAL ĐOÀN</div>
                        <div><a href="">XEM CHI TIẾT</a> </div>
                    </div>
                    <div class="product-content">

                        <!-- Swiper -->
                        <div class="swiper-container swiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="~/Content/Images/ImagesProduct/anhsanpham1.jpg" />
                                    <div><a>as</a></div>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" />
                                </div>
                                <div class="swiper-slide"><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></div>
                                <div class="swiper-slide"><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></div>
                                <div class="swiper-slide"><a href=""><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></a></div>
                                <div class="swiper-slide"><a href=""><img src="~/Content/Images/ImagesProduct/anhsanphan2.jpg" /></a></div>
                                <div class="swiper-slide"><a href=""></a></div>
                                <div class="swiper-slide">Slide 8</div>
                                <div class="swiper-slide">Slide 9</div>
                                <div class="swiper-slide">Slide 10</div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swp2"></div>
                        </div>


                    </div>
                

                </div>

                </div>

        </div>
    </div>
    
   
 

    <script src="~/Scripts/Common/User/UserHome.js"></script>
</body>
</html>



