
@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="clearfix">
        <div id="main">
            <ol class="breadcrumb">
                <li><a href="/AdminHome"><i class="fa fa-home"></i> Trang quản trị</a></li>
                <li class="active"><a href="SanPham">Sản phẩm</a></li>
                <li class="active"><a href="ThemSanPham">Thêm sản phẩm mới</a></li>
            </ol>
            <div class="col-xs-12">
                <form id="admin-form" class="form-horizontal col-xl-9 col-lg-10 col-md-12 col-sm-12" enctype="multipart/form-data" role="form">


                    <div class="form-group">
                        <label for="masp" class="col-sm-3 control-label required">Mã bài viết</label>
                        <div class="col-sm-9">
                            <input id="masp" disabled type="text" value="" class="form-control" placeholder="Mã" required="" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label required">Mã Nhân Viên</label>
                        <div class="col-sm-9">
                            <input id="TenSanPham" disabled type="text" value="" class="form-control" placeholder="Tên bài viết " required="" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Trạng Thái Hiển Thị</label>
                        <div class="col-sm-9">
                            <select style="width:100%; height:100%;">
                                <option value="1">Hiển Thị</option>
                                <option value="0">Ẩn</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="content" class="col-sm-3 control-label">Nội dung</label>
                        <div class="col-sm-9">
                            <textarea id="DanhGia" rows="5" class="form-control ckeditor" placeholder="Danh Gia Cho San Pham"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" id="btnAdd" class="btn btn-submit"><small><i class="fa fa-plus"></i></small> Thêm mới</button>

                            <a class="btn btn-warning" href="#"><small><i class="fa fa-reply"></i></small> Trở về</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--END #main-->
    </div>
    <script type="text/javascript">


        $("#btnAdd").click(function () {
            var std = {};
            std.MaThuongHieu = $("#MaThuongHieu option:selected").val();
            std.MaDanhMuc = $("#MaDanhMuc option:selected").val();
            std.TenSanPham = $("#TenSanPham").val();
            std.MoTa = $("#MoTa").val();
            std.Gia = $("#Gia").val();
            std.DanhGia = CKEDITOR.instances['DanhGia'].getData();
            if ($("#Picture").val()!="") {
                std.HinhAnh = $("#Picture").val();
            }
            else {
                std.HinhAnh = $("#HinhAnhUrl").val();
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("/ThemSanPham")',
                data: '{std: ' + JSON.stringify(std) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Thêm sản phẩm thành công");
                },
                error: function () {
                    alert("Thêm sản phẩm thất bại");
                }
            });

        });



    </script>

</body>
</html>
